#contact-screen {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#contact-section {
  padding: 60px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* border: solid 1px red; */
  align-items: center;
}

#section-title {
  font-size: 38px;
  padding-bottom: 10px;
}

#section-heading {
  margin-top: 20px;
  /* border: 1px solid red; */
  text-align: center;
  display: inherit;
  justify-content: inherit;
  flex-direction: inherit;
  align-items: inherit;
}

a {
  color: inherit;
}

.text {
  width: 70%;
}

.img {
  height: 60px;
}

.title {
  padding: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

#phone p {
  width: 200px;
}

@media screen and (min-width: 1000px) {
  #contact-screen {
    height: 100vh;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
  }

  #contact-container {
    display: flex;
    flex-direction: row;
  }

  .contacts {
    padding: 60px 140px;
    max-width: 200px;
  }

  #contact-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .address {
    width: 300px;
  }

  #section-title {
    font-size: 70px;
  }
}

@media screen and (min-width: 1400px) {
  .contacts {
    padding: 60px 200px;
  }
}
