*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 100%;
  padding: 40px;
}

/* #btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  right: 30px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

#arrow {
  position: relative;
  width: 50px;
} */
